@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/* top nav bar css */
#top-nav{
    /* color:orange !important; */
}

#top-nav nav a:hover{
    text-decoration: none;
}


/* Search bar */
.search-bar{
    background-color: #fff;;
    display: flex;
    margin-top:5px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 30px;
}

.logo{
    flex: 5;
    margin-right: 20%;
    padding-top: 20px;
}

.logo img{
    width: 200px;
}

.search{
    flex: 10;
    padding-top: 20px;
}
.search .form-control{
    height:50px;
    border-radius: 0px !important;
}
.search button{
    width:50px;
    border:none;
    background-color: orange;
}

.search button i{
    color: #fff;
    font-size: 25px;
}

.cart{
    flex: 5;
    padding-top: 20px;
    margin-left: 20%;
}
.cart i{
    font-size: 30px;
    padding-top: 10px;
}
.search button i{
    font-size: 20px;
}

@media(max-width: 768px) {
    .search-bar{
        padding-left: 2%;
        padding-right: 2%;
    }
    .logo{
        margin-right: 5%;
        padding-top: 10px;
    }
    .logo img{
        width: 150px;
    }
    .search{
        padding-top: 10px;
    }
    .cart{
        padding-top: 10px;
        margin-left: 7%;
    }
    .cart i{
        padding-top: 5px;
    }
    .search .form-control{
        height: 40px;
    }
    
  }

@media(max-width: 480px) {
    .logo{
        padding-top: 5px;
    }
    .logo img{
        width: 100px;
    }
    .search{
        padding-top: 5px;
    }
    .cart{
        padding-top: 5px;
    }
    .search .form-control{
        height: 30px;
    }
  }

  /* slider */
  .carousel-item{
      height: 55vh;
  }
  
  .carousel-caption{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 70px;
  }

  /* shop near your city */
  .near-shop{
      margin:100px 0;
  }
  .near-shop h3{
    text-align:center;
    font-size: 35px;
  }
  .near-shop .card{
      padding:0px;
      margin-top: 50px;
  }
  .near-shop .filter-title{
    height: 70px;
    background-color: #bbb;
  }
  .near-shop .filter-title h4{
      text-align: center;
      margin-top: 20px;
      font-family: "Open sans", sans-serif;
      color: #fff;
  }

  .filter-shops form{
      display:flex;
      text-align: center;
  } 

  .filterby-district{
    flex:1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .filterby-district select{
    width: 80%;
    height: 50px;
    padding-left: 30px;
    appearance: none !important;
  }


  .filterby-city{
    position: relative;
    flex:1;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .filterby-city select{
    width: 80%;
    height: 50px;
    padding-left: 30px;
    appearance: none !important;
  }


  .filter-btn{
    flex:1;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .filter-btn button{
    width: 80%;
    height: 50px;
    background: #bbb;
    color: white;
    border: none;
  }
 
  @media(max-width: 768px){
      .filter-shops form{
          flex-direction: column;
      }
  }
  /* shops and shop catagories */
  .shops{
    margin-top:100px;
  }
  
  .select-shop-form{
      display:none;
  }
  .shop-catagory-select{
    position: relative;
    display:block;
    max-width: 400px;
    min-width: 180px;
    margin: 0 auto;
    margin-top: 10px;
}

.shop-catagory-select select{
    border: 1px solid #aaa;
    outline: none;
    background: transparent;
    appearance: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    cursor: pointer;

    padding: 12px 55px 15px 15px;
    font-size: 14px;
}

.shop-catagory-select:after{
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 50px;
  content: "\25BC";
  text-align: center;
  z-index: -1;
  background: orange;
  color:#fff;
  font-size: 18px;
}

  .shops .shop-catagories{
        font-size: 14px;
        background: #eee;
        padding-top: 20px;
        padding-bottom: 10px;
  }

  .shops .shop-catagories ul{
      margin-left: 2px;
  }

  .shops .shop-catagories ul a li{
	list-style-type: none;
	font-weight: bold;
	margin-top: 10px;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #444;
}

.shops .shop-catagories ul a:hover{
    text-decoration: none;
}

.shops .shop-catagories ul a li:hover{
    color: orange;
}

@media(max-width:768px){
    .select-shop-form{
        display: block;
    }
    .shop-catagories{
        display:none;
    }
    .shops{
        margin-top: 50px;
    }
    .near-shop{
        margin-bottom: 40px;
    }
}

.single-shop{
    margin-bottom: 50px;
    padding:0px;
}
.shop-image{
    padding-left:20px;
    padding-right: 20px;
}
.shop-image img{
    width:100%;
    height: 250px;
    margin-bottom:20px;
}

.single-shop h4, .single-shop p{
    text-align:center;
    font-family: 'Open sans',sans-serif
}

#shop-pagination .page-link{
    color: #444;
}


/* footer */
.footer{
	margin-top:50px;
	color:#fff;
	background-color: #111;
}

.footer img{
    width:150px;
    margin-top: 80px;
}
.footer h1{
	font-size: 16px;
	margin: 20px 0;
}

.footer p{
	font-size: 12px;
}

.footer p a {
	color: #fff;
	text-decoration: none;
}

.copyright{
	margin-bottom: -80px;
	text-align: center;
	font-size:15px;
	padding-bottom: 20px;
}


.footer hr{
	margin-top: 10px;
	background-color: #ccc;
}


.footer .row .fa{
	padding-right: 20px;
	font-size: 15px;
}

/* signup modal */

.signup .form-control{  
	border:0;
	box-shadow: none;
	margin-bottom:0;
	margin-top: 10px;
}

.signup .form-control:focus{  
	border:0;
	box-shadow: none;
}

.signup hr{
	margin-top:0;
}
.signup span i{
	font-size: 18px;
	padding-top: 17px;
	margin-right: 10px;
	color: #555;
}
.signup button{
	margin-top:20px;
	background-color: orange;
	color: #fff;
}
.signup .bottom-text{
	margin-top: 10px;
	margin-bottom: 10px;
}
.signup .bottom-text p{
	margin:0px;
	font-size: 12px;
	color:#333;
    text-align:center;
}


/* shop detail page */
.shop-banner{
    margin-top: 70px;
}
.shop-banner h4{
    padding-left:20px;
    font-family: 'Open-sans', sans-serif;
    font-size: 40px;
    margin-left: 4%;
    color: #fff;
    
}
.shop-banner h4 span{
    background-color: orange;
    padding:8px 5px;
}

.shop-banner .shop-banner-image{
    text-align: center;
}
.shop-banner .shop-banner-image img{
    width: 90%;
    height: 300px;
    margin-top: 20px;
}

@media(max-width: 769px){
    .shop-banner h4{
        font-size:30px;
    }
    .shop-banner .shop-banner-image img{
        height: 200px;
        margin-top: 10px;
    }
}

/* shop data */
.shop-data{
    margin-top: 80px;
}
.shop-data h4{
    padding-left:4.4%;
    font-size: 30px;
    margin-bottom:20px;
    color: #555;
}

.shop-data h4 span{
    background-color: orange;
    padding: 8px 10px;
    color:#eee;
}

.shop-data .card{
    padding-top: 20px;
    padding-bottom:20px;
}
.shop-data .col-md-6{
    margin-top: 21px;
    padding-left: 50px;
}

.shop-data .col-md-6 p{
    font-size: 18px;
    color: #444;
}
.shop-data .col-md-6 p span{
    font-weight: bold;
    color:#333;
}

.shop-data .col-md-6 p span i{
    margin-right: 20px;
}

/* products and sidemenu */
.product-show{
    margin-top: 70px;
}
.product-show h4{
    text-align: center;
    font-size: 35px;
    margin-bottom:40px;
}
.sorting{
    display: flex;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px;
}


.sorting #menu-btn{
    display: none;
    font-size: 30px;
    flex:1

}
.sorting #cross-btn{
    display:none;
    font-size: 30px;
    flex:1;
}

.sorting form{
    text-align:center;
    flex:9;
    padding-right: 1%;
}

.sorting form select{
    width: 250px;
    height: 50px;
    background-color: orange;
    padding-left: 10px;
}

.product-menu-wrapper{
    display:flex;
    margin:0;
    padding:0;
}

.side-menu{
    width: 19%;
    height:80%;
    float:left;
    z-index:2;
    background: #eee;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}

.side-menu h6{
    margin-top: 25px;
    font-weight: bold;
    margin-left: 48px;
    margin-bottom: 10px;
    font-size: 18px;
}
.side-menu ul{
    margin-left: 10px;
}

.side-menu ul li{
    list-style-type: none;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li:hover{
    color: orange;
}

.side-menu ul li ul{
    display: none;
    z-index: 10;
    top:76px;
}

.side-menu ul li:hover ul{
    display: block;
    height: 400px;
    margin-left: 13%;
    position: fixed;
    padding:0 100px 10px 10px; 
    background:#eee;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}

@media(max-width: 980px){
	.side-menu{
		width: 34%;
		z-index: 20;
		font-size: 12px;
		display: none;
	}

	.sorting #menu-btn{
        display:block;
        padding-left: 5%;
	}
    .sorting #cross-btn{
        padding-left: 5%;
	}
	.side-menu ul li ul{
		top: 133px;
	}s

	.side-menu ul li:hover ul{
		margin-left: 15%;
	}
}

.products{
    width: 75%;
	margin-left: 3%;
    padding: 0 10px;
    box-sizing: border-box;
    margin-right:0;
}

.product-top img{
    width:95%;
}
.product-top:hover{
    transform: scale(1.1);
    margin-bottom: 10px;
}

.products .fa{
	color: orange;;
	font-size: 10px;

}

.product-bottom h3{
	font-size: 20px;
	font-weight: bold;
}

.product-bottom h5{
	font-size:15px;
	padding-bottom: 10px;
}

@media only screen and (max-width: 980px){
    .products{
        margin-left:17%;
    }

}
.product-show nav{
    margin-top: 40px;
}

/* Best Seller */
.best-seller{
    margin-top: 70px;
    margin-bottom:30px;
    width: 94%;
    padding-left:5%;
}

.best-seller h4{
    margin-bottom: 30px;
    font-size: 30px;
}